
.custom-navbar, .custom-container, .navbar, .navbar-collapse, .navbar-brand, .navbar-toggler-icon {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.custom-navbar .CNavLink, 
.custom-navbar .CNavItem,
.custom-navbar .CContainer,
.custom-navbar .CNavbarBrand{
  background-color: #ffffff !important;
  color: #000000 !important;
}

.custom-navbar .dropdown-toggle, 
.custom-navbar .dropdown-menu, 
.custom-navbar .dropdown-item,
.custom-navbar .nav-link {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.custom-navbar .form-control, .custom-navbar .btn-outline-success {
  color: #000000 !important;
  background-color: #ffffff !important;
}

.custom-navbar .CNavLink:hover, .custom-navbar .dropdown-item:hover {
  color: #007bff !important;
  background-color: #eaeaea !important; 
}
